label, #text_val, #text_input {
  font-size: 30px;
}

input {
  margin-bottom: 60px;
}

input::-webkit-input-placeholder {
  font-size: 30px;
  padding-left: 15px;
}

#options {
  font-size: 25px;
}

[class*="sprite-"] {
  height: 1454px;
  width: 642px;
  display: inline-block;
}

.sprite-checkbox {
  background: url('/sprites/form-elements-sprite.png') 0 0;
}